header {
    width: 50%;
    min-width: fit-content;
    background-color: #066eed9d;
    margin: 1rem auto;
    padding: 0.2rem;
    border-radius: 3rem;
    
}

.title{
    font-family: 'Nabla', cursive;
    font-size: 2.8rem;
    color: #333;
    text-align: center;

}

