*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./assets/island.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}